APP_NAME="City"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
DB_CONNECTION=sqlite
DB_DATABASE=/app/database/city.sqlite
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=false
SESSION_COOKIE=city_session
CACHE_STORE=file
LOG_CHANNEL=single
MAIL_MAILER=log
