<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache"><testsuites><testsuite name="Application"><directory>tests/Feature</directory></testsuite></testsuites><php><env name="APP_ENV" value="testing" force="true"/><env name="APP_KEY" value="base64:MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=" force="true"/><env name="APP_URL" value="http://bacolod.com" force="true"/><env name="DB_CONNECTION" value="sqlite" force="true"/><env name="DB_DATABASE" value=":memory:" force="true"/><env name="SESSION_DRIVER" value="array" force="true"/><env name="CACHE_STORE" value="array" force="true"/><env name="SESSION_SECURE_COOKIE" value="false" force="true"/></php></phpunit>
